html {
    height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

ul {
  list-style-type: none;
  padding: 0;
}

#logo {
  position: relative;
  width: 40%;
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}



#nyheter {
  position: relative;
  color: white;
  font-size: 1.125em;
  margin-top: 10%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #d42b1e;
  text-align: center;
  /* zoom: 150%; */
}

#nyhetercol {
  /* list-style-type: none;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 0;
  margin-right: 6px;
  display: list-item;
  text-align: -webkit-match-parent; */

}

strong {
  float: left;
  margin-left: 26px;
  margin-right: 26px;
}

.underline {
  border-bottom: 0.25px white solid;
  position: relative;
  left: auto;
  right: auto;
  margin-left: 26px;
  margin-right: 26px;
  text-align: center;
}

.navbar {
  background-color: #f8f8f9;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: auto;
  text-align: right;
}

.linker, .menyLinker{
  color: #000000;
  font-size: 150%;
  margin-right: 0.5em;
  position: sticky;
  text-decoration: none;
}

.menyLinker:hover {
  font-weight: bold;
  text-decoration: none;
}

.linker:hover {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

#registrerbox, #loginbox, #forsidetekst, #hjelptekst, #profilinfo, #glemtpassord {
  position: relative;
  zoom: 150%;
  text-align: center;
  margin-top: 1.5em;
}

.feilMelding {
  color: red;
}

.loggInnInfo {
  font-size: 16px;
}

#loggInnInfoPassord {
  font-size: 9px;
}

#loggInnKnapp {
  text-decoration: none;
}

#profilinfo {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: #f8f8f9;
  border-style: groove;
}

#profil {
  text-align: center;
  width: 100%;
}

#profilvisning1 {
  float: left;
  width: 49%;
}

#profilvisning2 {
  float: right;
  width: 49%;
  height: 100%
}

#redigerprofil {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #f8f8f9;
  border-style: groove;
  font-size: 1.25em;
}

/* #oppdaterFornavnInput, #oppdaterEtternavnInput, #oppdaterTlfInput, #oppdaterAdrInput, #oppdaterPostnrInput {
  margin-top: 6px;
} */


#oppdaterPostnrInput {
  width: 7.5%;
}

button {
  margin-bottom: 6px;
  margin-right: 6px;
}

input {
  margin-top: 3px;
  margin-bottom: 3px;
}

#soktest {
  text-align: center;
}

#sokeliste {
  list-style-type: none;
}

.sokenavn {
  padding: 0;
}

.aktiver {
  color: red;
  padding: 0;
}

.aktiver:hover{
  text-decoration: underline;
  cursor: pointer;
}

.deaktiver {
  color: gray;
  padding: 0;
}

.deaktiver:hover {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.sokenavn:hover {
  color: #5aa8fb;
  cursor: pointer;
  text-decoration: underline;
}

.arrangementside {
  margin-top: 1.5em;
  position: relative;
  text-align: center;
  zoom: 100%;
}

.arrangementDiv, .arrangementDetaljerDiv {
  border-style: groove;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 65%;
}

.arrNavn {
  font-size: 1.5em;
}

.arrangementDiv:hover {
  border-style: ridge;
  cursor: pointer;
}

.egenVakt {
  text-decoration: underline overline;
}

#arrnavn {
  font-weight: bolder;
}

#sjulKontaktperson {
  display: none;
}

.knapper {
  text-decoration: none;
}

.glemtpassordknapp {
  font-size: 65%;
  margin-left: 1em;
}

.logginninput, .glemtpassordinput {
  margin-bottom: 1em;
  margin-left: 1em;
  maxLength: 10px;
}

#registrerbox {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #f8f8f9;
  border-style: groove;
}

.rad:after {
  clear: both;
  content: "";
  display: table;
}

.registrer {
  float: left;
  margin-top: 6px;
  width: 75%;
}

#registrerPostnrInput {
  width: 15%;
  margin-top: 6px;
}

#registrerPoststedInput {
  width: 27%;
  margin-top: 6px;
}

#FornavnReg, #EtternavnReg, #TelefonReg, #AdresseReg, #PostnrReg, #EpostReg, #PassordReg {
  float: left;
  width: 25%;
  margin-top: 6px;
}

#registrerKnapp {
  margin-bottom: 6px;
}
