html {
    height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

ul {
  list-style-type: none;
  padding: 0;
}

#logo {
  position: relative;
  width: 40%;
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

#nyheter {
  /* position: relative; */
  color: white;
  font-size: 1.125em;
  margin-top: 15%;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  length: 50%;
  background-color: #d42b1e;
  /* text-align: center; */
  zoom: 150%;
}

#nyhetercol1 {
  list-style-type: none;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 0;
  margin-right: 36px;
  display: list-item;
  text-align: -webkit-match-parent;
}

strong {
  min-width: 180px;
  margin-right: 72px;
}

/* #nyhetercol2 {
  margin-top: 6px;
  margin-right: 5%;
} */

.underline {
  border-bottom: 0.25px white solid;
  position: relative;
  /* left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center; */
}

.navbar {
  background-color: #f8f8f9;
  position: relative;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.linker {
  position: sticky;
  color: #000000;
  font-size: 150%;
  margin-right: 0.5em;
  text-decoration: none;
}

.linker:hover {
  font-weight: bold;
  text-decoration: none;
}

#registrerbox, #loginbox, #forsidetekst, #hjelptekst, #profilinfo {
  position: relative;
  zoom: 150%;
  text-align: center;
  margin-top: 1.5em;
}

.feilMelding {
  color: red;
}

.loggInnInfo {
  font-size: 16px;
}

#loggInnInfoPassord {
  font-size: 9px;
}

#profilinfo {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #f8f8f9;
  border-style: outset;
}

#profil {
  text-align: center;
  width: 100%;
}

#profilvisning1 {
  float: left;
  width: 49%;
}

#profilvisning2 {
  float: right;
  width: 49%;
  height: 100%
}

#redigerprofil {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #f8f8f9;
  border-style: outset;
  font-size: 1.25em;
}

#oppdaterFornavnInput, #oppdaterEtternavnInput, #oppdaterTlfInput, #oppdaterAdrInput, #oppdaterPostnrInput {
  margin-top: 6px;
}

#oppdaterPostnrInput {
  width: 7.5%;
}

#oppdaterProfilKnapp {
  margin-bottom: 6px;
  margin-right: 6px;
}

#soktest {
  text-align: center;
}

#sokeliste {
  list-style-type: none;
}

.sokenavn {
  padding: 0;
}

.aktiver {
  color: red;
  padding: 0;
}

.aktiver:hover{
  text-decoration: underline;
  cursor: pointer;
}

.deaktiver {
  color: gray;
  padding: 0;
}

.deaktiver:hover {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.sokenavn:hover {
  color: #5aa8fb;
  text-decoration: underline;
  cursor: pointer;
}

.arrangementDiv {
  border-style: inset;
}

.arrangementDiv:hover {
  border-style: outset;
  cursor: pointer;
}

.arrangementDetaljerDiv {
  border-style: outset;
}

.knapper {
  text-decoration: none;
}

.glemtpassordknapp {
  margin-left: 1em;
  font-size: 65%;
}

.logginninput {
  margin-bottom: 1em;
}

#registrerbox {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #f8f8f9;
  border-style: outset;
}

.rad:after {
  content: "";
  display: table;
  clear: both;
}

.registrer {
  float: left;
  width: 75%;
  margin-top: 6px;
}

#registrerPostnrInput {
  width: 15%;
  margin-top: 6px;
}

#registrerPoststedInput {
  width: 27%;
  margin-top: 6px;
}

#FornavnReg, #EtternavnReg, #TelefonReg, #AdresseReg, #PostnrReg, #EpostReg, #PassordReg {
  float: left;
  width: 25%;
  margin-top: 6px;
}

#registrerknapp {
  margin-bottom: 6px;
}
